{% extends "partians/layout.njk" %} 
{% block title %}Login{% endblock %}
{% block content %}

  <h1>Login</h1>
<form action="/login" method="POST">

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input name="email" type="email" class="form-control" id="name" placeholder="Email">
 
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input name="password" type="password" class="form-control" id="name" placeholder="Password">
    </div>

<button class="btn btn-primary">Login</button>
</form>
{% endblock %}