{% extends "partians/layout.njk" %} 
{% block title %}Register{% endblock %}
{% block content %}

  <h1>Register</h1>
<form action="/register" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input name="name" type="text" class="form-control" id="name" placeholder="Your name">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input name="email" type="email" class="form-control" id="name" placeholder="Email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input name="password" type="password" class="form-control" id="name" placeholder="Password">
    </div>
    <div class="mb-3">
      <label for="password_confirm" class="form-label">Confirm Password</label>
      <input name="password_confirm" type="password" class="form-control" id="name" placeholder="Confirm Password">
    </div>

<button class="btn btn-primary">Register</button>
</form>
{% endblock %}