{% extends "partians/layout.njk" %} 
{% block title %}About Us{% endblock %}
{% block content %}

  <h1>Form</h1>
  <form action="/answers">
    <div class="mb-3">
  <label for="name" class="form-label">Name</label>
  <input name="name" type="text" class="form-control" id="name" placeholder="write your name">
</div>
<div class="mb-3">
  <label for="age" class="form-label">Age</label>
  <input name="name" type="number" min="0" id="age" class="form-control" placeholder="write youre age"></textarea>
</div>
<div class="mb-3">
  <label for="bio" class="form-label">bio</label>
  <textarea name="bio" class="form-control" id="bio" rows="4" placeholder="write something about you"></textarea>
</div>
<div class="mb-3">
  <label for="favcolor" class="form-label">Favourite color</label>
  <input name="favecolor" type="color" class="form-control" id="favecolor"></textarea>
</div>
<div class="mb-3">
<p>Food order</p>
 <input name="food" type="radio" class="form-check-input" id="cocane" value="cocane">
 <label for="cocane" class="form-label">Cocane</label>
 <input name="food" type="radio" class="form-check-input" id="burger" value="burger">
 <label for="burger" class="form-label">Burger</label>
 <input name="food" type="radio" class="form-check-input" id="noramai" value="noramai">
 <label for="noramai" class="form-label">NoraMai</label>
 <input name="food" type="radio" class="form-check-input" id="cake" value="cake">
 <label for="cake" class="form-label">Cake</label>
 </div>
<div class="mb-3">
<p>Choose your starter pokemon</p>
 <input name="pokemon" type="radio" class="form-check-input" id="bulbasaur" value="bulbasaur">
 <label for="bulbasaur" class="form-label">Bulbasaur</label>
 <input name="pokemon" type="radio" class="form-check-input" id="pikachu" value="pikachu">
 <label for="pikachu" class="form-label">Pikachu</label>
 <input name="pokemon" type="radio" class="form-check-input" id="noramai" value="noramai">
 <label for="noramai" class="form-label">NoraMai</label>
 <input name="pokemon" type="radio" class="form-check-input" id="eve" value="eve">
 <label for="eve" class="form-label">Eve</label>
 </div>
<div class="mb-3">
   <label for="fruit" class="form-label">Favourite fruit</label>
   <select multiple name="fruit" class="form-select">
     <option disabled selected>Select fruit</option>
     <option>Melon</option>
     <option>Pear</option>
     <option>Apple</option>
     <option>Orange</option>
     <option>Coconut</option>
    </select>
</div>
<div class="mb-3">
   <label for="like" class="form-label">How much do you like this form?</label>
   <input type="range" for="range" class="form-range" id="like"></div>
</div>

<input type="submit" class="btn btn-primary">
<button class="btn btn-primary">Send</button>

  </form>
{% endblock %}